@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    margin-block: 8px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #b6b7bb;
    border-radius: 20px;
    height: 30px;
}
